<%#= debug params %>
<table>
  <tr>
    <th>Route</th>
    <th>Distance (mi)</th>
  </tr>
  <% @results.each do |r| %>
    <tr>
      <td><%= r[:route] %></td>
      <td><%= r[:dist] %></td>
    </tr>
  <% end %>
</table>